*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  color: #ffb24c;
  background-color: #334155;
}

::placeholder {
  opacity: 1;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

/* Mapbox */
.mapboxgl-popup-content {
  padding: 0 !important;
}

.mapboxgl-map:focus,
.mapboxgl-map *:focus {
  border: none !important;
  outline: none !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #334155;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #334155;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #334155;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #334155;
}

.mapboxgl-popup-anchor-top-left h3 {
  border-top-left-radius: 0;
}

.mapboxgl-popup-anchor-bottom-left h3 {
  border-bottom-left-radius: 0;
}

.mapboxgl-popup-anchor-top-right h3 {
  border-top-right-radius: 0;
}

.mapboxgl-popup-anchor-bottom-right h3 {
  border-bottom-right-radius: 0;
}

/* Simple bar */
.simplebar-scrollbar::before {
  background-color: #6b7280 !important;
}
